.bg-1 {
            background-color:#474e5d; /* Green   #1abc9c;*/
            color: #ffffff;
            width:50%;


        }
        .container{

            -webkit-border-radius: 10px; /** newer webkit browsers **/
            -khtml-border-radius: 10px; /** older webkit browsers **/
            -moz-border-radius: 10px; /** older gecko browsers **/
            -o-border-radius: 10px; /** older opera browsers **/
            border-radius: 10px; /** all modern browsers, including IE9+, but see below **/
            top:50%;
            bottom:50%;
             max-width:90%;
             
            /* box-shadow: 10px 10px 5px #888888;
 */
        }
   